{% load static %}
<link rel="stylesheet" href="{% static 'css/prism.css'%}">
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
  {% for prog_title in titles %}
  <div class="tab-pane fade" id="v-pills-{{prog_title.title}}" role="tabpanel" aria-labelledby="v-pills-{{prog_title.title}}-tab">
    {{prog_title.title}}
  </div>
  {% endfor %}
  
</div>
<script src="{% static 'js/prism.js'%}"></script>