{% extends '_base.html' %}
{% load static %}

{% block title %}
<title>Shitfiles | Home</title>
<style>
  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background-color: #ffaaaa;
  }

  .vertical-scrollable {
    position: absolute;
    overflow-x: scroll;
  }

  .horizontal-scrollable {
    position: absolute;
    overflow-y: scroll;
  }
</style>
{% endblock %}
{% block content %}
{% include '_navbar.html' %}
<div class="container-fluid">
  {% include '_messages.html' %}

  <div class="row my-4">
    <div class="col-md-2">
      {% include 'shitfiles/sidebar.html' %}
    </div>
    <div class="col-md-10">
      <div>
        {% for shitdetail in shitdetails %}
        <ol>
          <li><b>{{shitdetail.heading}}:</b>
            <pre class="language-{{prog_title.title}}"><code>
          {{shitdetail.codes}}
        </code></pre>
          </li>
        </ol>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
<script src="{% static 'js/prism.js'%}"></script>